.#{$prefix}-c-board {
  position: relative;
  padding: 10px;
  border: 5px solid $white;
  margin-bottom: 10px;

  @at-root #{&}__creature {
    position: relative;
  }

  @at-root #{&}__hand {
    border-top: 5px solid $white;
  }

  @at-root #{&}__message {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 489px;
  }

  @at-root #{&}__message--active {
    display: block;
  }
}
