.#{$prefix}-c-footer {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: right;
  user-select: none;

  a {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    color: $white;
    outline: none;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }
}
