.#{$prefix}-c-hand {
  display: flex;
  width: 775px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 20px;

  &--disabled {
    opacity: 0.35;
  }

  &__discard {
    position: relative;
    width: 100px;
    height: 130px;
    border: 5px solid $palette--white;
    background-image: url('../resources/img/discard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-radius: 6px;

    [class*='card'] {
      position: absolute;
      top: -5px;
      left: -5px;
      border: 5px solid $palette--white;
      background-color: $palette--black;
      background-image: url('../resources/img/card-back.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30px;
      cursor: default;
    }
  }
}
