.#{$prefix}-c-start {
  &__heading {
    font-size: 32px;
    text-transform: uppercase;
  }

  &__icon {
    width: 100px;
    height: 95px;
    margin: 30px auto;

    img {
      width: 100%;
    }
  }

  &__name {
    padding-bottom: 20px;
    font-size: 20px;
  }

  &__description {
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
    line-height: 1.5;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__start {
    display: inline-block;
    width: 300px;
    padding: 10px;
    border: 5px solid $white;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
