$black: #1f1f1f;
$white: #fffcf4;
$white--alt: #cecece;

$cost: #fd7272;
$element: #fd7272;
$health: #fd7272;
$mana: #729afd;
$armor: #60b55e;

$log--death: #fd7272;
$log--keyword: #fd7272;

$email: #888888;
$facebook: #3b5998;
$twitter: #1da1f2;
