.#{$prefix}-c-card {
  background-color: $white;
  border-radius: 6px;
  width: 100px;
  height: 130px;
  padding: 5px;
  position: relative;
  transition: transform 0.1s ease-out;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;

  &:hover {
    transform: translateY(-10px);
  }

  @at-root #{&}__cost {
    border-radius: 100px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $cost;
    color: $white;
    padding: 5px 9px;
  }

  @at-root #{&}__element {
    border-radius: 100px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: $cost;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
  }

  @at-root #{&}__name {

  }

  @at-root #{&}__effect {
    margin-top: auto;
    color: $cost;
  }
}
