.#{$prefix}-c-creature {
  font-size: 0;
  white-space: nowrap;
  width: 775px;
  margin: 20px auto;

  @at-root #{&}__tunnel {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);
    height: 234px;
    font-size: 18px;
    background-image: url('/assets/img/dungeon-tunnel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
  }

  @at-root #{&}__name {
    font-size: 22px;
    padding-bottom: 10px;
  }

  @at-root #{&}__level {
    text-transform: capitalize;
    font-size: 16px;
    padding-bottom: 10px;
  }

  @at-root #{&}__attribute {
    display: inline-block;
    vertical-align: top;

    &:not(:last-child) {
      border-right: 3px solid $white;
      padding-right: 14px;
      margin-right: 5px;
    }
  }

  @at-root #{&}__attribute-label {
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 10px;
  }

  @at-root #{&}__attribute-icon {
    width: 12px;

    img {
      width: 100%;
    }
  }

  @at-root #{&}__stats {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    font-size: 18px;
  }

  @at-root #{&}__stat {
    position: relative;
    border: 5px solid $white;
    padding: 0px 5px 0 5px;
    font-size: 0;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @at-root #{&}__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    padding-right: 5px;
    z-index: 1;
  }

  @at-root #{&}__bar {
    display: inline-block;
    vertical-align: middle;
    height: 18px;
    max-width: 143px;
    background-color: $white;

    [data-stat="health"] & {
      background-color: $health;
    }

    [data-stat="mana"] & {
      background-color: $mana;
    }

    [data-stat="armor"] & {
      background-color: $armor;
    }
  }

  @at-root #{&}__status-label {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @at-root #{&}__status-effect {
    text-align: center;
  }

  @at-root #{&}__status-icon {
    display: inline-block;
    height: 20px;
    margin-bottom: 9px;
    vertical-align: middle;

    img {
      width: auto;
      height: 20px;
    }
  }

  @at-root #{&}__status-duration {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -5px;
    padding-left: 10px;
  }
}
