.#{$prefix}-c-death {
  @at-root #{&}__heading {
    font-size: 32px;
    text-transform: uppercase;
  }

  @at-root #{&}__icon {
    width: 100px;
    margin: 30px auto;

    img {
      width: 100%;
    }
  }

  @at-root #{&}__level {
    font-size: 18px;
    padding-bottom: 5px;
  }

  @at-root #{&}__gold {
    font-size: 18px;
  }

  @at-root #{&}__share {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0;
    white-space: nowrap;
  }

  @at-root #{&}__share-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: $hit;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @at-root #{&}__share-facebook {
    background-color: $facebook;
    background-image: url('/assets/img/facebook.png');
    background-size: 10px;
  }

  @at-root #{&}__share-twitter {
    background-color: $twitter;
    background-image: url('/assets/img/twitter.png');
    background-size: 15px;
  }

  @at-root #{&}__share-email {
    background-color: $email;
    background-image: url('/assets/img/email.png');
    background-size: 15px;
  }

  @at-root #{&}__restart {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid $white;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
