.#{$prefix}-c-shop {
  @at-root #{&}__heading {
    font-size: 28px;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 5px solid $white;
  }

  @at-root #{&}__cards {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @at-root #{&}__card {
    pointer-events: none;
    margin: 0 auto 15px;
  }

  @at-root #{&}__card-price {
    text-transform: capitalize;
    padding-bottom: 15px;
  }

  @at-root #{&}__card-buy {
    width: 150px;
    padding: 10px;
    border: 5px solid $white;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  @at-root #{&}__status {
    margin-top: 20px;
    height: 16px;
  }

  @at-root #{&}__status--error {
    color: $shop--error;
  }

  @at-root #{&}__status--name {
    color: $shop--name;
    text-transform: uppercase;
    display: inline;
  }

  @at-root #{&}__continue {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid $white;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
