.#{$prefix}-c-stats {
  font-size: 0;
  white-space: nowrap;

  @at-root #{&}--disabled {
    opacity: 0.1;
  }

  @at-root #{&}__stat {
    display: inline-block;
    width: 190px;
    border: 5px solid $white;
    padding: 5px 10px 10px;
    margin-right: 20px;
  }

  @at-root #{&}__label {
    font-size: 36px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 30px;
  }

  @at-root #{&}__value {
    font-size: 26px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    position: relative;
    top: 5px;
  }

  @at-root #{&}__bar {
    height: 15px;
    margin-top: 5px;
    background-color: $white;

    [data-stat="health"] & {
      background-color: $health;
    }

    [data-stat="mana"] & {
      background-color: $mana;
    }

    [data-stat="armor"] & {
      background-color: $armor;
    }
  }

  @at-root #{&}__information {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
  }

  @at-root #{&}__gold {
    padding-bottom: 5px;
  }

  @at-root #{&}__level {
    text-transform: capitalize;
  }
}
