.#{$prefix}-u-type {
  @at-root #{&}--typing {
    &:after {
      content: '_';
      color: $white;
      font-weight: bold;
      padding-left: 5px;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      animation-timing-function: step-end;
    }
  }
}
